* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
section {
    padding-top:100px;
    padding-left:50px;
    padding-right:50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 20px 100px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    /* color: white; */
    background-color:rgb(10, 29, 128);
}
/* header .sticky {
    background: #fff;
    padding: 20px 100px;
} */
header ul {
    display: flex;
    position: relative;
    
}
header ul li {
    list-style: none;
    position: relative;
    justify-content: space-between;
}
header ul li a {
    display: flex;
    position: relative;
    justify-content: space-between;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: white;
}
header .logo {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
/* header .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
header .toggle {
    display: flex;
    justify-content: space-between;
}  */
.about {
    position: relative;
    min-height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
}
section .heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.heading h2 {
    font-weight: 800;
    font-size: 3rem;
}
.content {
    display: flex;
    justify-content: space-between;
    /* padding-right:30px; */
}
.img {
    width: 30rem;
    height: 30rem;
}
.contentbox p {
    width: 500px;
    word-wrap: break-word;
    padding-right:30px;
}
.image {
    min-width: 50%;
}
.work {
    position: relative;
    min-height: 100vh;
    background: url(/images/black-texture.jpg);
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: white;
}
.contact {
    position: relative;
    /* margin-top: 2rem; */
    min-height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
}
.box {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;

}
.box .text {
    margin-left: 10px;
}
.formbox {
    min-width: 60%;
}
.formbox form {
    display: flex;
    flex-direction: column;
}
.formbox form h3 {
    font-size: 20px;
    font-weight: 650;
    margin-bottom: 10px;
}
.formbox form input,
.formbox form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    outline: none;
    border: none;
    background: #222;
    color: #fff;
    resize:none;
}
.formbox form textarea {
    height: 100px;
}
