html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
section {
    padding-top:100px;
    padding-left:50px;
    padding-right:50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 20px 100px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    /* color: white; */
    background-color:rgb(10, 29, 128);
}
header ul {
    display: flex;
    position: relative;
    
}
header ul li {
    list-style: none;
    position: relative;
    justify-content: space-between;
}
header ul li a {
    display: flex;
    position: relative;
    justify-content: space-between;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: white;
}
header .logo {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.about {
    position: relative;
    min-height: 100vh;
    /* min-width: 100vw; */
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
}
section .heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.heading h2 {
    font-weight: 800;
    font-size: 3rem;
}
.content {
    display: flex;
    justify-content: space-between;
}
.img {
    width: 100%;
    min-height: 50%;
}
.contentbox p {
    width: 30rem;
    word-wrap: break-word;
    padding-right:30px;
}
.image {
    min-width: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

.contact {
    position: relative;
    min-height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
}
.box {
    /* margin-bottom: 5px; */
    display: flex;
    flex-direction: row;

}
.connectinfobox .box {
    display: flex;
    flex-direction: row;
    padding:0;
}
.box .text {
    margin-left: 20px;
    margin-bottom: 20px;
}
.formbox {
    min-width: 60%;
}
.formbox form {
    display: flex;
    flex-direction: column;
}
.formbox form h3 {
    font-size: 20px;
    font-weight: 650;
    margin-bottom: 10px;
    margin-left: 10px;
}
.formbox form input,
.formbox form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    outline: none;
    border: none;
    background: #222;
    color: #fff;
    resize:none;
    border-radius: 15px;
}
.formbox form textarea {
    height: 120px;
}
.formbox form input::placeholder,
.formbox form textarea::placeholder {
    color: #999;
}
.formbox form input[type="submit"]
{
    border: none;
    background-color: rgb(10, 29, 128);
    color: white;
    font-size: 15px;
    width: 20%;
    height: 20%;
    padding: 15px;
    border-radius: 15px;
}
.formbox form input[type="submit"]:hover {
    border-color: rgb(2, 1, 61);
    background-color: rgb(2, 1, 61);
}

.skills {
    position: relative;
    min-height: 100vh;
    /* background-color: rgb(3, 42, 49); */
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: white;

}

.work {
    position: relative;
    min-height: 100vh;
    /* background-color: rgb(127, 155, 160); */
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: white;
}
section .direction {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    grid-template-rows: repeat(auto-fit, minmax(230px, 1fr));
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  border-radius: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  font-weight: 700;
  padding: 10px;
}
.flip-card-back a {
    margin-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.flip-card-back a:hover{
    color: rgb(0, 38, 49);
    text-decoration: none;
}
.skills .column {
  float: left;
  width: 33.33%;
  padding: 15px;
  height: 15rem;
  width:  15rem;
}
.skills .row::after {
  content: "";
  clear: both;
  display: table;
}
.skills .image {
    min-width: 45%;
    width: 15rem;
    height:15rem;
}
.connecticon {
    height: 2rem;
    width:2rem;
}

.connectinfobox .box .text a{
    color: white;
    text-decoration: none;
}
.connectinfobox .box .text a:hover{
    color: rgb(196, 191, 191);
    text-decoration: none;
}

@media only screen and (max-width: 856px) {
  .img {
    display: none;
  }
  .content {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 927px) {
  section .direction {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
}
@media only screen and (max-width: 766px) {
  header ul {
    display: none;
  }
  header a{
    text-align: center;
    width: 100%;
  }
  .contentbox p #id {
    text-align: center;
    width: 100%;
  }
}

/* @media only screen and (max-width: 360px) {
.contentbox p {
    width: 14rem;
    word-wrap: break-word;
    padding-right: 10px;
    margin-right: 0px;
}
} */

@media only screen and (max-width: 420px) {
    .contentbox p {
    width: 14rem;
    word-wrap: break-word;
    padding-right: 10px;
    margin-right: 0px;
}
}
.item-container {
    display: flex;
  /*Do not forget next line, or items won't wrap*/
  flex-wrap: wrap;
}
@media(max-width: 540px) {
  .item { 
    flex: 1 0 100%;
  }
  .formbox {
      margin-top: 45px;
  }
  .formbox form h3 {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .formbox form input[type="submit"] {
    margin:auto;
    display:block;
    margin-bottom:10px;
  }
  .contactinfo h2 {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .contactinfo .box .linkedin {
      display: flex;
      justify-content: center;
      align-items: center;
  }
.contactinfo .github {
      margin-right:20px;
  }
  /* .contactinfo h3 {
      display: flex;
      justify-content: center;
      align-items: center;
  } */
}

@media(max-width: 376px) {
    .flip-card{
        width: 250px;
        height:250px;
    }
}





.navbar {
    /* display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    z-index: 1000;
    padding: 20px 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 5px 100px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    color: white;
    background-color:rgb(10, 29, 128);
}
.profile{
    display: flex;
    flex-direction: row;
}
.p-image {
    transform: translatey(7px);

}
.brand-title {
    font-size: 2rem;
    margin: .5rem;
    margin-right: 1rem;
    padding-right: 1rem;
    font-weight: 300;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    color: rgb(0, 0, 0);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .profile{
        transform: translateX(-50px);

    }
    .toggle-button{
        transform: translateY(8px);
    }
}

@media (max-width: 320px) {
    .profile{
        transform: translateX(-70px);

    }
}

@media (max-width: 280px) {
    .profile{
        transform: translateX(-90px);

    }
}


